
body {
    width: 100%;
}

header {
    height: 60px;
}

h1 {
    color: white;
}

.gradient {
    background-image: linear-gradient(to right, rgb(6, 193, 250) , rgb(0, 21, 138));
}

.search {
    width: 100%;
}

.container {
    margin: 0;
    width: 100%;
}

.searchSection {
    height: 100%;
}

.newCity {
    margin-bottom: 6px;
}

.future {
    background-image: linear-gradient(to bottom, rgb(0, 21, 138), rgb(6, 193, 250));
    margin-right: 6px;
    margin-bottom: 6px;
}

.white {
    color: rgb(196, 196, 196);
}

.fiveDay h5 {
    color: white;
}

#results {
    display: flex;
    flex-direction: column;
}